extends layout

block content
  h1= title
  p #{title} takin owa yo radioooo

  canvas#myCanvas

  footer
      table#footerTable
        tr
            td
                span X:
                span#xPos
            td
                span Y:
                span#yPos
            td
                span Z:
                span#zPos
